# Just testing stuff

In [6]:
# The code was removed by Watson Studio for sharing.

,Email,First Name,Last Name,City,Country,Current Employer,Currently Employed,Education,Years of Experience,Fax,Mobile,Phone,SSN,State/Province,Street,US Citizen,Visa Required,Zip/Postal Code
0,paul@revere.com,Paul,Revere,Boston,USA,City of Boston,True,HS Diploma,6,510-555-5555,510-555-5555,510-333-3333,123456789,MA,111 Montclair St,False,True,21111
1,george@schnell.com,George,Schnell,Miami,USA,Seaworld,True,Ph.D.,3,510-555-5555,510-555-5555,619-555-5555,987654321,FL,1 Herald Plaza,False,True,33132-1693
2,mary@jane.com,Mary,Jane,Boise,USA,City of Boise,True,BA/BS,3,510-555-5555,510-555-5555,510-333-3333,111222333,Idaho,1530 Main St.,False,True,11111
3,bill@george.com,Bill,George,Princeton,USA,Princeton University,False,HS Diploma,4,510-555-5555,510-555-5555,510-333-3333,444555666,NJ,235 Montgomery St,False,True,11111
4,amy@johnson.com,Amy,Johnson,Chula Vista,USA,Seaworld,True,BA/BS,3,510-555-5555,510-555-5555,619-555-5555,777888999,CA,4450 Main St.,True,False,91911